<div ng-app="schedulerApp" ng-controller="employeesController" ng-cloak>
  <h3 style="float: left">Employees</h3>
  <%= link_to 'New Employee', new_employee_path, class: "btn btn-lg btn-primary btn-block", style: "width: 200px; color: white; float: right" %>
  <div style="clear:both"></div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <div class="row-fluid">
            <div class="col-md-12">
              <select id="skill_id" name="skill_id" style="display: none">
                <option value=""></option>
                <option ng-repeat="skill in skills" data-index="{{$index}}" value="{{skill.id}}">{{skill.name}}</option>
              </select>
              <input id="skill_id_input" title="" placeholder="Filter by Skill" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
              <div id="skill_id_input_group" class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Show</button>
                </span>
              </div>
            </div>
            <div style="clear:both" />
          </div>
        
          <div class="row-fluid" style="padding-top: 10px">
            <div class="col-md-12 btn-group-xs">
                <button ng-repeat="skill in selectedSkills" ng-click="removeSkillFilter($index)" class="btn btn-default btn-danger">
                  <i class="glyphicon glyphicon-remove"> 
                    {{skill.name}}
                  </i>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <ul class="nav nav-tabs">
    <li ng-class="defaultTabStyle"><a ng-click="defaultTabClick()" href="#">Default</a></li>
    <li ng-class="archivedTabStyle"><a ng-click="archivedTabClick()" href="#">Archived</a></li>
  </ul>
  <table class="table table-bordered table-striped" id="tblEmployeeList">
    <tr ng-cloak>
      <th><a href="" ng-click="toggleSort('full_name')">Name</a></th>
      <th ng-if="<%= current_user.user_type.admin? %>"><a href="" ng-click="toggleSort('rating')">Rating</a></th>
      <th><a href="" ng-click="toggleSort('email')">Email</a></th>
      <th><a href="" ng-click="toggleSort('user_type.name')">Type</a></th>
      <th><a href="" ng-click="toggleSort('manager.full_name')">Manager / Point-of-Contact</a></th>
      <th class="shrink"></th>
    </tr>

    <tr ng-repeat="employee in employees | orderBy:orderField" ng-cloak>
      <td><a ng-href="/employees/{{employee.id}}">{{employee.full_name}}</a></td>
      <td ng-if="<%= current_user.user_type.admin? %>">
        <div star-rating max="5" ratable="employee"></div>
      </td>
      <td><a ng-href="/employees/{{employee.id}}">{{employee.email}}</a></td>
      <td>{{employee.user_type.name}}</td>
      <td>{{employee.manager.full_name}}</td>
      <td>
        <a ng-href="/employees/{{employee.id}}/edit">Edit</a>
        <span ng-if="employee.id != <%= current_user.id %>">
          |
          <a ng-click="archiveEmployee($index, employee)" href="#">{{employee.archiveLabel()}}</a>
        </span>
      </td>
    </tr>
  </table>
</div>
<br />