<div ng-app="schedulerApp" ng-controller="jobsController" ng-cloak>
    <h3 style="float: left">Jobs</h3>
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <div class="navbar-form">

                <div class="row-fluid">
                    <div class="col-md-4">
                        <angucomplete id="filter_customer"
                                      placeholder="Customer"
                                      pause="100"
                                      selectedobject="customer"
                                      localdata="customers"
                                      searchfields="name"
                                      titlefield="name"
                                      minlength="1"
                                      inputclass="form-control"
                                      holderclass="input-group"
                                      buttonposition="right"
                                      buttonlabel="Customer"
                                      holderclass="input-group"
                                      on-selected="onCustomerSelected">
                        </angucomplete>
                        <a style="padding: 10px;" href="#" ng-click="resetFilter()">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <a href="/jobs/new" class="btn btn-lg btn-primary btn-block" style="width: 200px; color: white; float: right">New Job</a>
      <div style="clear:both"/>
      <ul class="nav nav-tabs">
          <li ng-class="defaultTabStyle"><a ng-click="defaultTabClick()" href="#">Default</a></li>
          <li ng-class="archivedTabStyle"><a ng-click="archivedTabClick()" href="#">Archived</a></li>
      </ul>
      <table class="table table-bordered table-striped">
          <tr>
              <th><a href="" ng-click="toggleSort('customer.name')">Customer</a></th>
              <th><a href="" ng-click="toggleSort('name')">Job Name</a></th>
              <th><a href="" ng-click="toggleSort('description')">Description</a></th>
              <th class="shrink"></th>
          </tr>

          <tr ng-repeat="job in jobs | orderBy:orderField">
              <td><a ng-if="job.customer" ng-href="/customers/{{job.customer_id}}">{{job.customer.name}}</a></td>
              <td><a ng-href="/jobs/{{job.id}}">{{job.name}}</a></td>
              <td><a ng-href="/jobs/{{job.id}}">{{job.description}}</a></td>
              <td><a ng-href="/jobs/{{job.id}}/edit">Edit</a> | <a ng-click="archiveJob(job)" href="">{{job.archiveLabel()}}</a></td>
          </tr>

      </table>
      </div>
      <br/>
