<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
      firstDay: 1,
      header: {
        left: '',
        center: '',
        right: ''
      },
      events: '/schedules/grouped_by_job_id.json?from_date=<%= params[:from_date] %>&to_date=<%= params[:to_date] %>',
      eventClick: function(calEvent, jsEvent, view) {
        window.location = calEvent.url;
      }
    })
  });
</script>
<div id="calendar"></div>