<div ng-app="schedulerApp" ng-controller="scheduleEditController" ng-cloak class="ng-cloak" ng-show="schedule.$resolved">

    <script type="text/ng-template" id="advEmployeeSearch.html">
        <div class="modal-header">
            <h3 class="modal-title">Search for Available Employees</h3>
        </div>
        <div class="modal-body" style="height: 500px">
            <div class="row" style="height: 70%; overflow: scroll;">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th><a href="" ng-click="toggleSort('full_name')">Name</a></th>
                            <th>Skills</th>
                            <th ng-if="<%= current_user.user_type.admin? %>"><a href="" ng-click="toggleSort('rating')">Rating</a></th>
                            <th><a href="" ng-click="toggleSort('user_type.name')">Type</a></th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="user in availableUsers | orderBy:orderField | filter:filterUsers" ng-cloak>
                            <td><a target="_blank" ng-href="/employees/{{user.id}}">{{user.full_name}}</a></td>
                            <td><span ng_repeat="s in user.skills_list" style="padding: 2px"><button class="btn btn-xs btn-success" ng-click="addUser(user, s)">{{s}} </button></span></td>
                            <td ng-if="<%= current_user.user_type.admin? %>">
                                {{user.rating}}
                            </td>
                            <td>{{user.user_type.name}}</td>
                            <td><button class="btn btn-sm" ng-click="addUser(user)">Add</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="height:30%; overflow: scroll;">

                    <div class="col-md-4">
                        <div class="row">
                            <span class="input-group">
                                <select ng-model="selectedSkill" class="form-control" ng-options="skill as skill.name for skill in skills"></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="addSkillFilter()">Add</button>
                                </span>
                            </span>
                        </div>
                        <div class="row">
                            <button ng-repeat="skill in selectedSkills" class="btn btn-default btn-danger" ng-click="removeSkillFilter($index)">
                                <i class="glyphicon glyphicon-remove">{{skill.name}}</i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div ng-repeat="user in selectedUsers"><span style="padding-right: 10px">{{user.user_label}}</span><button class="btn-xs btn-danger" ng-click="removeUser($index)">Remove</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>



  <div class="alert alert-danger" ng-show="schedule.errors.length > 0">
    <ul>
      <li ng-repeat="error in schedule.errors"><div ng-bind-html="error"></div></li>
    </ul>
  </div>
  <div class="alert alert-warning" ng-show="schedule.warnings.length > 0">
    <ul>
      <li ng-repeat="warning in schedule.warnings"><div ng-bind-html="warning"></div></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8">
      <label>Job:</label>
        <angucomplete id="schedule_job"
          placeholder="Job"
          pause="100"
          selectedobject="schedule.job"
          localdata="jobs"
          searchfields="name"
          titlefield="name"
          minlength="1"
          inputclass="form-control"
          holderclass="input-group"
          buttonposition="right"
          buttonlabel="Job"
          holderclass="input-group">
        </angucomplete>
      <br />
      <div ng-if="schedule.persisted()" ng-cloak class="ng-cloak">
        User: {{schedule.user.full_name}}
      </div>
      <div ng-if="!schedule.persisted()" ng-cloak class="ng-cloak">
        <label>Employee:</label>
        <angucomplete id="schedule_user"
          placeholder="Employee"
          pause="100"
          selectedobject="schedule.user"
          localdata="users"
          searchfields="full_name"
          titlefield="full_name"
          minlength="1"
          inputclass="form-control"
          holderclass="input-group"
          buttonposition="right"
          buttonlabel="Employee"
          holderclass="input-group"
          on-selected="onUserSelected">
        </angucomplete>
          <br>
          <button class="btn btn-sm btn-primary" ng-click="openEmployeeSearch()">Advanced Search</button>
      </div>
      <br >
      <div class="row">
        <div class="col-md-4">
          <label>From Time: </label>
        </div>
        <div class="col-md-4">
          <label>To Time: </label>
        </div>
      </div>
      
      <div class="row" ng-repeat="time_range in schedule.time_ranges">
        <div class="col-md-4 dropdown">
          <a class="dropdown-toggle" ng-attr-id="from_time_dropdown_{{$index}}" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group">
              <div class="form-control" style="font-size: 12px">{{time_range.from_time.format("ddd, DD MMM YYYY - hh:mm A")}}</div>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="time_range.from_time" data-on-set-time="schedule.validateNewSchedule(schedule, usersSelected)" data-datetimepicker-config="{ dropdownSelector: '#from_time_dropdown_{{$index}}' }"/>
          </ul>
        </div>
        <div class="col-md-4 dropdown">
          <a class="dropdown-toggle" ng-attr-id="to_time_dropdown_{{$index}}" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group">
              <div class="form-control" style="font-size: 12px">{{time_range.to_time.format("ddd, DD MMM YYYY - hh:mm A")}}</div>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="time_range.to_time" data-on-set-time="schedule.validateNewSchedule(schedule, usersSelected)" data-datetimepicker-config="{ dropdownSelector: '#to_time_dropdown_{{$index}}' }"/>
          </ul>
        </div>
        <div class="col-md-4"><span style="float: left">{{time_range.getTotalHoursLabel()}}</span><a href="#" style="float: right" ng-show="$index > 0" ng-click="schedule.time_ranges.splice($index, 1)">remove</a></div>
      </div>
      <br />
      <div ng-show="!schedule.persisted() &amp;&amp; !schedule.expanded">
        <div class="row">
          <div class="col-md-12">
            <label>Repeat schedule through:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 dropdown">
            <a class="dropdown-toggle" id="through_date_dropdown_0" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group">
                <div class="form-control" style="font-size: 12px">{{schedule.time_ranges[0].through_date.format("dddd, DD MMM YYYY")}}</div>
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="schedule.time_ranges[0].through_date" data-on-set-time="schedule.validateNewSchedule(schedule, usersSelected)" data-datetimepicker-config="{ dropdownSelector: '#through_date_dropdown_0', minView: 'day' }"/>
            </ul>
          </div>
          <div class="col-md-4">
            <a href="#" class="btn btn-sm btn-primary" role="button" style="color: #FFFFFF" ng-click="schedule.expandTimeRanges()" ng-disabled="!schedule.canExpand()">Customize Times by Day</a>
          </div>
        </div>
      </div>

      <%= hidden_field_tag :return_path, params[:return_path] %>
      <%= hidden_field_tag :future_schedule_id, params[:future_schedule_id] %>
    </div>
    <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px">
        <div ng-repeat="user in usersSelected" ng-attr-id="selected_user_{{user.id}}" style="row">
          <div style='float: left'>{{user.full_name}}</div>
          <div style='float: right'><a href="#" ng-click="removeSelectedUser(user)">remove</a></div>
          <div style='clear: both'></div>
        </div>
    </div>
  </div>
  <br>

  <div class="row" ng-show="!schedule.persisted()">
    <div class="col-md-4">
      <button ng-disabled="disableSubmitButtons" ng-click="saveSchedule()" class="btn btn-lg btn-primary btn-block">Create</button>
    </div>
  </div>
  <div class="row" ng-show="schedule.persisted()">
    <div class="col-md-4">
      <button ng-disabled="disableSubmitButtons" ng-click="saveSchedule()" class="btn btn-lg btn-primary btn-block">Update</button>
    </div>
  </div>
  <br>
  <div class="row" ng-show="!schedule.persisted() &amp;&amp; !schedule.expanded &amp;&amp; !schedule.isPendingSchedule()">
    <div class="col-md-4">
      <button ng-disabled="disableSubmitButtons" ng-click="createPendingSchedule()" class="btn btn-lg btn-primary btn-block">Create Pending Schedule</button>
    </div>
  </div>

  <div class="row" ng-show="!schedule.persisted() &amp;&amp; !schedule.expanded &amp;&amp; schedule.isPendingSchedule()">
    <div class="col-md-4">
      <button ng-disabled="disableSubmitButtons" ng-click="updatePendingSchedule()" class="btn btn-lg btn-primary btn-block">Update Pending Schedule</button>
    </div>
  </div>
  <br>
  <div class="row" ng-show="!schedule.persisted() &amp;&amp; !schedule.expanded &amp;&amp; schedule.isPendingSchedule()">
    <div class="col-md-4">
      <button ng-disabled="disableSubmitButtons" ng-click="deletePendingSchedule()" class="btn btn-lg btn-primary btn-block">Delete Pending Schedule</button>
    </div>
  </div>
</div>


<br />
