<h3>Schedules</h3>
<%= render 'date_range_form' %>
<br />
<%= render 'schedule_matrix' %>
<%= render 'schedule_list' %>
<br />
<div id="calendar"></div>

<%= link_to 'New Schedule', new_schedule_path(employee_id: params[:user_id], job_id: params[:job_id], return_path: request.fullpath) %>
