<h1>Listing schedules</h1>
<%= render 'date_range_form' %>
<%= render 'schedule_matrix' %>
<%= render 'schedule_list' %>
<br />
<div id="calendar"></div>

<%= link_to 'New Schedule', new_schedule_path %>
