<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left:   'title',
        center: 'agendaDay,agendaWeek,month',
        right:  'today prev,next'
      },
      events: '/my_schedule.json',
      eventClick: function(calEvent, jsEvent, view) {
        window.location = "/schedules/scheduled_for_job?job_id=" + calEvent.job_id + "&schedule_date=" + encodeURIComponent(calEvent.schedule_date);
      }
    })
  });
</script>
<div id="calendar" style="padding-top: 10px; padding-left: 10%; padding-right: 10%; padding-bottom: 10%"></div>
