<%= form_for(@user_type) do |f| %>
  <% if @user_type.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@user_type.errors.count, "error") %> prohibited this user_type from being saved:</strong>

      <ul>
      <% @user_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
