/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
.horizontal-form {
 width: 100%;
}
.horizontal-form div.input-group {
 float: left;
 padding: 10px;
}
.ui-autocomplete-loading {
 background: white url("/assets/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-helper-hidden-accessible { display:none; }

table {
    border-collapse: collapse;
    width:100%;
}

table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}

table th.shrink {
    white-space:nowrap
}
table th.expand {
    width: 99%
}

input.form-control.date-picker {
  width: 55%; 
  float: left
}

input.form-control.time-picker {
  width: 45%;
  float: left
}
