<!DOCTYPE html>
<html>
<head>
  <title>JobScheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.min.js"></script>
  
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

  <%= javascript_include_tag "angular_group" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  
  (function(angular) {
    'use strict';
    angular.module('schedulerApp').controller('testController', ['$scope', function($scope) {
      $scope.test = "DO YOU SEE THIS?";
    }]);
  })(window.angular);
  </script>
</head>
<body ng-app="schedulerApp" ng-controller="testController">
  {{test}}
</body>
</html>
